# Build artifacts
/build/
/build/**
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Outputs
output_*.dat
*.exe
*.obj
*.pdb
*.dll
*.lib
*.exp

# TEMP folder for plotting outputs
TEMP/

# Logs
*.log
